# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives & logs
*.log
*.swp
*.tmp

# Secrets / local env
.env
.env.*
